
body{
    background-color : #88bdbc;
    margin: 0;
}

.navigation{
    overflow: hidden;
    background: #333;
    text-align: right;
}

.navigation .openLogin{
    background: #651de2;
    color: #fff;
    border: none;
    padding: 20px 40px;
    font-size: 20px;
    /* border-radius: 100px; */
    cursor: pointer;
    transition: all 0.3s;
    outline: none;
    text-align: center;
}

.login-content{
    border-color: black;
    border-style: solid;
    overflow-wrap: break-word;
    padding-top: 5px;
    padding-left: 10px;
    width: 500px;
    height: 400px;
    position: relative;
    top: 50px;
    left: 33%;
    z-index: 99;
}

.close-modal {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    font-size: 40px;
}

.close-modal:hover {
    color: #fa5252;
}

.hide-login{
    display: none;
}

.blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.hide-blur {
    display: none;
}

.container {
    background-color: aliceblue;
    display: inline-flex;
    position: absolute;
    width: 40%;
    height: 80%;
    left: 3%;
    top: 15%;
    border-radius: 2%;
    box-shadow: 2px 3px 10px #254e58;
}

.allowance-expenses-container {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

.allowance-expenses-container input{
    margin-bottom: 10px;
    display: block;
    width: 100%;
    padding: 0.6em 0.3em;
    border: 1px solid #d0d0d0;
    border-radius: 0.3em;
    font-weight: 400;
    border: 1px solid #fafafa;
    outline: none;
}

.allowance-expenses-container input:focus{
    border-color: #88bdbc;
}

.allowance-expenses-container button{
    margin-bottom: 10px;
    background-color: #7eb2be;
    font-size: 1em;
    margin-top: 1em;
    border-radius: 0.3em;
    padding: 0.6em 1.2em;
    color: #2f4150;
    border: none;
    outline: none;
    cursor: pointer;
    display: block;
}


.allowance-expenses-container h2{
    color: #293a3d;
    font-weight: 500;
    margin-bottom: 0.6em;
}




